{% extends "base.html" %}

{% block page_content %}
{% from "_formhelpers.html" import render_field %}
  <form action="" method="POST" class="m-4" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="otp" class="form-label">otp</label>
        <input type="otp" name="otp" class="form-control form-inline" id="otp">
    </div>
    {{ render_field(form.password1, class="form-control", placeholder="Password")}}
    {{ render_field(form.password2, class="form-control", placeholder="Confirm Password")}}
    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <form action="{{url_for('resend_otp')}}" method="POST">
    <button type="submit" class="btn btn-outline-primary float-right">Resend OTP</button>
  </form>
{% endblock %}